@charset "utf-8";

/* 최근 본 상품 추천 */
.lately_pdt {
	position:relative;
	padding:30px 0 0 0;
	width:100%;
	border-bottom:3px solid #F7F7F7;
	overflow:hidden;
	z-index:151;
}
.lately_pdt h4 {
	font-size:20px;
	color:#333;
	width:100%;
	float:left;
	height:25px;
	margin-bottom:13px;
}
.lately_pdt h4 span {
	float:left;
	font-weight:bold;
}
.lately_pdt h4 span em {
	text-decoration:underline;
	font-weight:bold;
}
.lately_pdt h4 span.tit_comm {
	background-position:0 -676px;
	height:25px;
	width:400px;
	text-indent:-9999em;
}
.lately_pdt h4.empt span.tit_comm {
	background-position:0 -933px;
}
.lately_pdt .content .list_combine {
	margin:0 0 24px;
	overflow:hidden;
}
.lately_pdt .mbox {
	width:100%;
	height:245px;
	float:left;
}
.lately_pdt .mbox ul {
	padding:0 0 0 40px;
}
.lately_pdt .mbox ul li {
	float:left;
	width:150px;
	margin:0 27px 0 0;
	position:relative;
}
.lately_pdt .mbox ul li:hover .box_line {
	border:2px solid #e51b13;
	width:148px;
	height:148px;
	left:0;
	position:absolute;
	top:0;
}
.lately_pdt .mbox ul li.lately .box_line {
	border:2px solid #e51b13;
	width:148px;
	height:148px;
	left:0;
	position:absolute;
	top:0;
	background:url(//image.wemakeprice.com/images/2013/main/lately_pdt_on.png) no-repeat 0 125px;
	z-index:20;
}
.lately_pdt .mbox ul .box_thumb,
.lately_pdt .mbox ul .box_thumb img {
	display:block;
	height:150px;
	width:150px;
}
.lately_pdt .mbox ul .box_desc {
	display:block;
	height:55px;
	padding:10px 0 0;
}
.lately_pdt .mbox ul .box_desc .tit_desc {
	display:block;
	color:#333;
	font-size:12px;
	font-weight:normal;
	height:21px;
	margin-bottom:6px;
	line-height:21px;
	letter-spacing:-1px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
}
.lately_pdt .mbox ul .box_desc .txt_info {
	display:block;
	overflow:hidden;
}
.lately_pdt .mbox ul .box_desc .discount {
	float:left;
	padding:1px 4px 2px 13px;
	margin:0px 5px 0 0;
	color:#FFF;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
	line-height:1em;
	background:#e51b13 url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 4px 4px;
}/*퍼센트*/ /*위치 중요! 아이콘보다 먼저 써 줘야함!*/
.lately_pdt .mbox ul .box_desc .ico_comm {
	padding:0;
	width:40px;
	height:14px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat;
	text-indent:-9999px;
}
.lately_pdt .mbox ul .box_desc .ico_limited {
	width:70px;
	background-position:0 -165px;
}/*limited edition*/
.lately_pdt .mbox ul .box_desc .ico_contract {
	width:49px;
	background-position:0 -25px;
}/*약정 할인가*/
.lately_pdt .mbox ul .box_desc .ico_chancedeal {
	width:55px;
	background-position:0 -60px;
}/*위메프 찬스딜*/
.lately_pdt .mbox ul .box_desc .ico_only {
	width:56px;
	background-position:0 -95px;
}/*위메프 단독가*/
.lately_pdt .mbox ul .box_desc .ico_wprice {
	width:39px;
	background-position:0 -130px;
}/*위메프가*/
.lately_pdt .mbox ul .box_desc .ico_foreignspecial {
	width:66px;
	background-position:0 -200px;
}/*해외상품 특별가*/
.lately_pdt .mbox ul .box_desc .ico_travelspecial {
	width:56px;
	background-position:0 -235px;
}/*여행사 특별가*/
.lately_pdt .mbox ul .box_desc .ico_funding {
	width:41px;
	background-position:0 -270px;
}/*펀딩금액*/
.lately_pdt .mbox ul .box_desc .ico_special {
	width:55px;
	background-position:0 -305px;
}/*위메프특별가*/
.lately_pdt .mbox ul .box_desc .sale {
	color:#ce1710;
	display:block;
	font-family:Tahoma;
	font-size:13px;
	line-height:14px;
	font-weight:bold;
	overflow:hidden;
}
.lately_pdt .mbox ul .box_desc .prime {
	color:#999;
	display:block;
	font-family:Tahoma;
	font-size:12px;
	height:14px;
	line-height:14px;
	overflow:hidden;
	text-decoration:line-through;
	display:none;
}
.lately_pdt .mbox ul .box_desc .sale .won {
	font-family:'돋움',dotum,sans-serif;
	font-size:12px;
}
.lately_pdt .mbox ul span.option_l {
	border:0 none;
	display:block;
	height:17px;
	overflow:hidden;
	padding:0 0 10px;
	width:100%;
}
.lately_pdt .mbox ul span.option_l span {
	color:#FFFFFF;
	float:left;
	font-size:11px;
	height:14px;
	letter-spacing:-1px;
	line-height:14px;
	overflow:hidden;
	padding:2px 4px 0;
	width:auto;
}
.lately_pdt .mbox ul .box_sticker {
	position:absolute;
	right:9px;
	top:-4px;
	z-index:21;
}
.lately_pdt .mbox ul .box_sticker .ico_comm {
	display:block;
	float:left;
	font-size:0;
	height:48px;
	line-height:0;
	margin-right:-4px;
	overflow:hidden;
	text-indent:-9999px;
	width:50px;
}
.lately_pdt .mbox .page_count .count {
	position:absolute;
	top:40px;
	right:40px;
}
.lately_pdt .mbox .page_count a {
	float:left;
	font-size:0;
	height:40px;
	line-height:0;
	overflow:hidden;
	text-indent:-9999px;
	width:28px;
	position:absolute;
}
.lately_pdt .mbox .page_count a.btn_prev_female {
	left:1px;
	top:150px;
	background:url(//image.wemakeprice.com/images/2013/common/btn_shopping_v1.png) no-repeat;
}
.lately_pdt .mbox .page_count a.btn_next_female {
	right:1px;
	top:150px;
	background:url(//image.wemakeprice.com/images/2013/common/btn_shopping_v1.png) no-repeat -30px 0;
}
.lately_pdt .mbox .page_count a.btn_prev_female:hover {
	background-position:-60px 0;
}
.lately_pdt .mbox .page_count a.btn_next_female:hover {
	background-position:-90px 0;
}
.lately_pdt .mbox .page_count a.btn_prev_female_on {
	background-position:-60px 0;
}
.lately_pdt .mbox .page_count a.btn_next_female_on {
	background-position:-90px 0;
}
.lately_pdt .mbox ul .reserv {
	display:none;
}

/* 최근 본 상품 추천 */
.bm_boder {
	display:inline-block;
	*display:inline;
	zoom:1;
}
#individual {
	position:relative;
	display:block;
	overflow:hidden;
	height:360px;
	width:100%;
}
#individual h4 {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:25px;
	overflow:hidden;
	font-size:20px;
	color:#333;
	line-height:25px;
	margin-bottom:12px;
}
#individual h4 span {
	float:left;
	font-weight:bold;
}
#individual h4 span em {
	text-decoration:underline;
	font-weight:bold;
}
#individual h4 span.tit_comm {
	background-image:url(//image.wemakeprice.com/images/2013/common/tit_shopping_v1.png);
	background-repeat:no-repeat;
	background-position:0 -179px;
	height:25px;
	width:170px;
	text-indent:-9999px;
}
#individual h4.empt span.tit_comm {
	display:block;
	background-image:url(//image.wemakeprice.com/images/2013/common/tit_shopping_v1.png);
	background-repeat:no-repeat;
	background-position:0 -156px;
	height:19px;
	width:199px;
	text-indent:-9999px;
}
#individual .product_box {
	position:absolute;
	top:37px;
	left:0;
	overflow:hidden;
	margin:0;
	width:935px;
	border-color:#ddd #ddd #CACACA;
	border-style:solid;
	border-width:1px;
}
#individual .product_box .tit_comm {
	display:block;
	overflow:hidden;
	background-image:url(//image.wemakeprice.com/images/2013/common/tit_shopping_v1.png);
	background-repeat:no-repeat;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
}
#individual .product_box .last_product {
	position:absolute;
	top:0;
	left:0;
	float:left;
	width:179px;
	border-right:1px solid #ddd;
	height:320px;
}
#individual .product_box .last_product h5 {
	height:21px;
	width:100%;
	float:left;
	margin-top:25px;
	margin-bottom:14px;
}
#individual .product_box .last_product h5.tit_comm {
	background-position:19px 0;
	height:18px;
}
#individual .product_box .last_product ul {
	float:left;
	width:179px;
	padding-bottom:10px;
}
#individual .product_box .last_product li {
	padding-left:20px;
	width:159px;
}
#individual .product_box .last_product li a {
	float:left;
	padding:6px 0 6px 0;
}
#individual .product_box .last_product li a:hover .box_thumb {
	margin:-2px;
	border:2px solid #ef2011;
	margin-right:13px;
}
#individual .product_box .last_product .box_thumb {
	float:left;
	width:45px;
	height:45px;
	margin-right:15px;
}
#individual .product_box .last_product .box_thumb img {
	width:45px;
	height:45px;
}
#individual .product_box .last_product .box_desc {
	float:left;
	margin-top:10px;
	width:80px;
}
#individual .product_box .last_product .box_desc .tit_desc {
	color:#333;
	font-size:11px;
	letter-spacing:-1px;
	line-height:14px;
	display:block;
	height:27px;
	overflow:hidden;
}
#individual .product_box .last_product .box_desc .txt_info {
	font-family:Tahoma;
	font-weight:bold;
	color:#333;
	float:left;
	width:100%;
}
#individual .product_box .best_buy {
	float:right;
	width:755px;
	height:320px;
	background-color:#f9f9f9;
	position:relative;
}
#individual .product_box .best_buy h5 {
	height:21px;
	width:100%;
	float:left;
	margin-top:25px;
	margin-bottom:19px;
}
#individual .product_box .best_buy h5.tit_comm {
	background-position:48px -31px;
	height:18px;
}
#individual .product_box .best_buy .mbox {
	float:left;
	width:100%;
}
#individual .product_box .best_buy .mbox ul {
	float:left;
	padding:0;
	position:absolute;
	top:60px;
	left:48px;
}
#individual .product_box .best_buy .mbox ul li {
	float:left;
	width:150px;
	margin:0 20px 0 0;
	position:relative;
}
#individual .product_box .best_buy .mbox ul .box_thumb,.member_best ul.box_thumb img {
	height:150px;
	width:150px;
	float:left;
}
#individual .product_box .best_buy .mbox ul a:hover .box_thumb {
	margin:-2px;
	border:2px solid #ef2011;
}
#individual .product_box .best_buy .mbox ul .box_desc {
	float:left;
	width:100%;
	padding:10px 0 0;
}
#individual .product_box .best_buy .mbox ul .box_desc .tit_desc {
	display:block;
	color:#333;
	font-size:12px;
	font-weight:normal;
	height:21px;
	margin-bottom:6px;
	line-height:21px;
	letter-spacing:-1px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
}
#individual .product_box .best_buy .mbox ul .box_desc .txt_info {
	display:block;
	overflow:hidden;
}
#individual .product_box .best_buy .mbox ul .box_desc .txt_info .price {
	float:left;
}
#individual .product_box .best_buy .mbox ul .box_desc .prime {
	color:#999;
	display:block;
	font-family:Tahoma;
	font-size:12px;
	height:14px;
	line-height:14px;
	overflow:hidden;
	text-decoration:line-through;
}
#individual .product_box .best_buy .mbox ul .box_desc .sale {
	color:#ce1710;
	display:block;
	font-family:Tahoma;
	font-size:13px;
	height:14px;
	line-height:14px;
	font-weight:bold;
	overflow:hidden;
}
#individual .product_box .best_buy .mbox ul .box_desc .sale .won {
	font-family:'돋움',dotum,sans-serif;
	font-size:12px;
}
#individual .product_box .best_buy .mbox ul span.option_l {
	border:0 none;
	display:block;
	height:17px;
	overflow:hidden;
	padding:0 0 10px;
	width:100%;
}
#individual .product_box .best_buy .mbox ul span.option_l span {
	color:#FFFFFF;
	float:left;
	font-size:11px;
	height:14px;
	letter-spacing:-1px;
	line-height:14px;
	overflow:hidden;
	padding:2px 4px 0;
	width:auto;
}
#individual .product_box .best_buy .mbox ul .box_sticker {
	position:absolute;
	right:5px;
	top:-4px;
	z-index:1;
}
#individual .product_box .best_buy .mbox ul .box_sticker .ico_comm {
	display:block;
	float:left;
	font-size:0;
	height:48px;
	line-height:0;
	margin-right:-4px;
	overflow:hidden;
	text-indent:-9999px;
	width:50px;
}

/* 통합리스트 */
.ico_best1 {
	background-position:0 0;
} /* 베스트1 */
.ico_best2 {
	background-position:0 -50px;
} /* 베스트2 */
.ico_best3 {
	background-position:0 -100px;
} /* 베스트3 */
.ico_best4 {
	background-position:0 -150px;
} /* 베스트4 */
.ico_best5 {
	background-position:0 -200px;
} /* 베스트5 */
.ico_best6 {
	background-position:0 -250px;
} /* 베스트6 */
.ico_best7 {
	background-position:0 -300px;
} /* 베스트7 */
.ico_best8 {
	background-position:0 -350px;
} /* 베스트8 */
.ico_best9 {
	background-position:0 -400px;
} /* 베스트9 */
.ico_best10 {
	background-position:0 -450px;
} /* 베스트10 */
.ico_best11 {
	background-position:0 -500px;
} /* 베스트11 */
.search_best .ico_best1 {
	background-position:-50px 0;
} /* 검색 베스트1 */
.search_best .ico_best2 {
	background-position:-50px -50px;
} /* 검색 베스트2 */
.search_best .ico_best3 {
	background-position:-50px -100px;
} /* 검색 베스트3 */

.ico_soldout_alert {
	background-position:-100px -100px;
} /* 매진임박 */
.ico_soldout_alert2 {
	background-position:-210px -400px;
} /* 마감임박 */
.ico_today_close {
	background-position:-100px -200px;
} /* 오늘마감 */
.ico_today_deal {
	background-position:-100px -300px;
} /* 오늘사용가능 */
.ico_today_open {
	background-position:-100px -400px;
} /* 오늘오픈 */

#individual .product_box .best_buy .page_count .count {
	position:absolute;
	top:290px;
	left:360px;
	width:35px;
}
#individual .product_box .best_buy .page_count a {
	float:left;
	font-size:0;
	height:40px;
	line-height:0;
	overflow:hidden;
	text-indent:-9999px;
	width:22px;
	position:absolute;
}
#individual .product_box .best_buy .page_count a.btn_prev_female {
	background:url(//image.wemakeprice.com/images/2013/common/btn_shopping_v1.png) no-repeat 0 0;
	left:15px;
	top:130px;
}
#individual .product_box .best_buy .page_count a.btn_next_female {
	background:url(//image.wemakeprice.com/images/2013/common/btn_shopping_v1.png) no-repeat -28px 0;
	right:15px;
	top:130px;
}
#individual .product_box .best_buy .page_count a.btn_prev_female:hover,
#individual .product_box .best_buy .page_count a.btn_prev_female.selected,
#individual .product_box .best_buy .page_count a.on_prev {
	background-position:-60px 0;
	left:15px;
	top:130px;
}
#individual .product_box .best_buy .page_count a.btn_next_female:hover,
#individual .product_box .best_buy .page_count a.btn_next_female.selected,
#individual .product_box .best_buy .page_count a.on_next {
	background-position:-88px 0;
	right:15px;
	top:130px;
}

#individual .product_box .ico_percent {
	float:left;
	padding:1px 4px 2px 13px;
	margin-right:5px;
	color:#FFF;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	overflow:hidden;
	line-height:1em;
	background:#e51b13 url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 4px 4px;
}/*퍼센트*/
#individual .product_box .ico_limited {
	float:left;
	width:70px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -165px;
}/*limited edition*/
#individual .product_box .ico_contract {
	float:left;
	width:49px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -25px;
}/*약정 할인가*/
#individual .product_box .ico_chancedeal {
	float:left;
	width:55px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -60px;
}/*위메프 찬스딜*/
#individual .product_box .ico_only {
	float:left;
	width:56px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.pngg) no-repeat 0 -95px;
}/*위메프 단독가*/
#individual .product_box .ico_wprice {
	float:left;
	width:39px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -130px;
}/*위메프가*/
#individual .product_box .ico_foreignspecial {
	float:left;
	width:66px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -200px;
}/*해외상품 특별가*/
#individual .product_box .ico_travelspecial {
	float:left;
	width:56px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -235px;
}/*여행사 특별가*/
#individual .product_box .ico_funding {
	float:left;
	width:41px;
	height:14px;
	margin-right:5px;
	text-indent:-9999px;
	background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -270px;
}/*펀딩금액*/
#individual .product_box .ico_special {
float:left;
width:55px;
height:14px;
margin-right:5px;
text-indent:-9999px;
background:url(//image.wemakeprice.com/images/resources/wmp/pages/deal_list/ico_deallist_sinfo.png) no-repeat 0 -305px;
}/*위메프특별가*/