@charset "utf-8";

.footer__link {
	height:36px;
	border-top:1px solid #e0e0e0;
	background:#eee;
	.site_menu {
		overflow:hidden;
		width:937px;
		margin:0 auto;
		li {
			float:left;
			height:35px;
			background:url(//image.wemakeprice.com/images/resources/wmp/common/img_footer_menu_v1.png) no-repeat 0 0;
		}
		li a {
			overflow:hidden;
			float:left;
			width:100%;
			height:100%;
			font-size:0;
			line-height:0;
			text-indent:-9999px
		}
		li.info {
			width:75px;
			padding-left:0;
			background-position:0 13px
		}
		li.blog {
			width:72px;
			padding-left:0;
			background-position:0px -178px;
			margin-left:153px;
		}
		li.employ {
			width:105px;
			background-position:31px -207px;
		}
		li.stipulation {
			width:105px;
			background-position:31px -27px
		}
		li.private {
			width:145px;
			background-position:30px -67px
		}
		li.private_youth {
			width:135px;
			background-position:31px -107px
		}
		li.coalition {
			width:105px;
			background-position:31px -147px
		}
		li.sevice {
			width:103px;
			background-position:32px -239px;
		}
	}
}
