@charset "utf-8";

.aside__shopping {
	position:relative;
	margin-bottom:40px;
	z-index:200;

	.title-today {
		width:108px;
		height:30px;
		border:1px solid #ddd;
	} /* 오늘의 혜택 */
	a {
		display:block;
		width:108px;
		border-width:0 1px 1px 1px;
		border-style:solid;
		border-color:#ddd;
	}
	img {
		vertical-align:top;
	}
}
