@charset "utf-8";

.join .header {
	background:url(//www.wemakeprice.com/images/join/bg_header_line.gif) repeat-x 0 0
}

.join .header_inner {
	overflow:hidden;
	width:937px;
	height:31px;
	margin:0 auto;
	padding:0;
	font-size:0;
	line-height:0;
	*zoom:1;
}
.join .header_inner:before,
.join .header_inner:after {
	display:table;
	content:'';
}
.join .header_inner:after {
	clear:both;
}